
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;700&display=swap');

@tailwind base;
@layer base{
    html {
    font-family: 'Overpass Mono';
    font-feature-settings: normal;
    font-variation-settings: normal;
}
}
@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}
@tailwind components;
@tailwind utilities;


